.idea/
.DS_Store
*.sublime-*
*.pyc
*.pid
*ide-plugin.xml
packer_cache/*
boxes/*
images/*
config/*.json
.kitchen/logs*
.cache
!.gitkeep
config/local.json
!config/config.example.json
*.ova
.terraform
local.ini
